body {
    box-sizing: border-box;
    margin: 0;

    background-color: #6d7c56;
}

#info {
    color: white;
    left: 0;
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 30px;
    text-align: center;
    z-index: 100;
    display: block;
}

#info2 {
    color: white;
    left: 0;
    position: absolute;
    top: 240px;
    left: 20px;
    font-size: 30px;
    text-align: center;
    z-index: 100;
    display: block;
}

#info3 {
    color: white;
    left: 0;
    position: absolute;
    top: 280px;
    left: 20px;
    font-size: 30px;
    text-align: center;
    z-index: 100;
    display: block;
}

#info4 {
    color: white;
    left: 0;
    position: absolute;
    top: 320px;
    left: 20px;
    font-size: 30px;
    text-align: center;
    z-index: 100;
    display: block;
}

.navbar {
    width: 100%;
    border-bottom: 1px solid;
    position: absolute;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

}

span {
    margin-left: 20px;
}

ul {
    margin: 10px;
    display: flex;
    gap: 10px;
}

li:hover {
    cursor: pointer;
    color: #2b885d;
}

ul li {
    list-style: none;
}

.dummy:hover {
    color: #2b885d !important;
    font-size: 40px;
}